html, body {
    margin:0;
    padding:0
}

#game a {
    color: #fff;
    text-decoration: none;
}

#game a:hover {
    text-decoration: underline;
}

#game a.button {
    background: #185da8;
    border-radius: 5px;
    display: block;
    font-size: 30px;
    margin: 40px 0 0 45px;
    padding: 10px;
    width: 200px;
}

#game a.button:hover {
    background: #2488f5;
    color: #fff;
    text-decoration: none;
}

#gameCanvas {
    display: block;
    background: #001022;
}

#gameUI {
    position: absolute; /* Places UI on top of the canvas */
}


#gameIntro, #gameComplete {
    background: rgba(0, 0, 0, 0.5);
    margin-top: 100px;
    padding: 40px 0;
    text-align: center;
}

#gameComplete {
    display: none;
}

#gameStats {
    width: 500px;
    display: none;
    font-size: 20px;
    fill: white;
    margin: 20px 0;
}

p{
    text-align: center;
    color: white;
}

#gameStats .gameReset {
    margin: 20px 20px 0 0;
    position: absolute;
    right: 0;
    top: 0;
}