/* whole screen */

#game {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(141, 179, 216, 0.5);
}


/* centering stuff */

#gameGUI,
#gameButtons {
    text-align: center;
    margin: auto;
}


/* Buttons */

#rollBall,
#nextRound {}

.btn {
    background: #aed1e8;
    background-image: -webkit-linear-gradient(top, #aed1e8, #2980b9);
    background-image: -moz-linear-gradient(top, #aed1e8, #2980b9);
    background-image: -ms-linear-gradient(top, #aed1e8, #2980b9);
    background-image: -o-linear-gradient(top, #aed1e8, #2980b9);
    background-image: linear-gradient(to bottom, #aed1e8, #2980b9);
    -webkit-border-radius: 13;
    -moz-border-radius: 13;
    border-radius: 13px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 13px 20px 10px 20px;
    border: solid #1f628d 2px;
    text-decoration: none;
    margin: 10px;
}

.btn:hover {
    background: #076aa8;
    background-image: -webkit-linear-gradient(top, #076aa8, #3498db);
    background-image: -moz-linear-gradient(top, #076aa8, #3498db);
    background-image: -ms-linear-gradient(top, #076aa8, #3498db);
    background-image: -o-linear-gradient(top, #076aa8, #3498db);
    background-image: linear-gradient(to bottom, #076aa8, #3498db);
    text-decoration: none;
}


/*Text*/

#month,
#wealth,
#RoundsLeft,
#TotalScore {
    text-align: center;
}

#month {
    font-family: Arial;
    font-size: 25px;
    color: #fff;
    background-color: #b8b8b8;
    text-shadow: #7a7a7a 4px 3px 0;
}

#wealth, #TotalScore {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #000000;
    font-size: 30px;
    padding: 2;
    text-shadow: 1px 1px 1px #A1A1A1;
}

#RoundsLeft {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 20px;
}

#TotalScore {}
